@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
::-webkit-scrollbar {
  width: 12px;
  background-color: #1a1a1a;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar-corner {
  background-color: #1a1a1a;
}